<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
<style> .image img {display:block; max-width: 100%} </style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1> Car Detection and Classification - CAR DC </h1>
            <p>Use the below drop down list to choose pre-trained models. Then upload a car image (based on the model you have chosen) and the system will extract cars from and try to classify car
                models.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="image">Select an image :</label>
                    <input type="file" name="image" id="image" class="form-control-file" />
                </div>

                 <div class="form-group">
                    <label for="image">Select a pre-trained model:</label>
                    <select id="classifier_model" name="model_picker">
                      <option value="196_epoch_8">196 car models - 8 Epochs</option>
                      <option value="chevrolet_epoch_8">Chevrolet 22 car models - 8 Epochs</option>
                      <option value="mercedes_epoch_8">Mercedes 6 car models - 8 Epochs</option>
                      <option value="car_type_epoch_8">3 types (SUV - SEDAN - VAN) - 8 Epochs</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-secondary">Send!</button>
            </form>
            <hr />
        </div>
    </div> <!-- end of form -->
    {% if error %}
     <div class="row">
        <div class="col-sm-12">
            <p>{{ error }}</p>
        </div>
     </div>
    {% endif %}
    {% if result %}
    <div class="row">
        <div class="col-sm-12">
            <div class="results">
                <h2>results</h2>
                <div class="row">
                    {% for image in result %}
                        <div class="col-sm-4">
                            <div class="image">
                                <img src="{{ image.uploaded_file_path }}" />
                                <span class="image-class">{{ image.car_name |linebreaks}}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> <!-- end of results -->
    {% endif %}
</div>